body {
    background-color: #000;
    color: #FF4500;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    padding: 20px 0;
}

.buton {
    background-color: #FF4500;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buton:hover {
    background-color: #FF4500;
}

.zamanlayici {
    background-color: #222;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.zaman {
    font-size: 36px;
    margin-bottom: 20px;
    color: #FF4500;
}

.zaman span {
    font-size: 24px;
    margin: 0 10px;
    color: #FF4500;
}

.kontroller {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

input[type="number"] {
    background-color: #FF4500;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    margin-right: 10px;
    text-align: center;
}

input[type="number"]::placeholder {
    color: #000;
    opacity: 0.7;
}

input[type="number"]:disabled {
    background-color: #000;
}

#baslatDurdur {
    background-color: #FF4500;
    color: #000;
    transition: background-color 0.3s ease;
}

#baslatDurdur:hover {
    background-color: #FF4500;
}

#sifirla {
    background-color: #FF4500;
    color: #000;
    transition: background-color 0.3s ease;
}

#sifirla:hover {
    background-color: #FF0000;
}

/* Önceki CSS kodları burada */
.ayarlar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ayar {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.ayar label {
    flex: 1;
    text-align: right;
    margin-right: 10px;
    color: #FF4500;
}

.ayar input[type="number"] {
    flex: 2;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    background-color: #FF4500;
    color: #000;
    border: none;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

body, button a {
    color: #000;
}